@use 'codemirror/lib/codemirror.css';
@use 'codemirror/addon/hint/show-hint.css';
@use 'codemirror/theme/abcdef.css';

.CodeMirror {
  /* border: 1px solid #eee; */
  height: auto;
  padding-left: 8px;
  border-radius: 0.75rem;
}

.CodeMirror-scroll {
  height: auto;
}
